body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background: grey url('../img/first_page/main_fon.jpg') center center no-repeat;
	background-blend-mode: screen; 
	background-size: 100%;
}

html, body {
	width: 100%;
	height: 100%;
} 

.intro {
	height: 100%;
	position: relative;
	background-size: cover;
}

.main-logo {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.main-logo__block {
	text-align: center;
}

.main-logo__btn {
	border: 1px solid #1c5bc3;
	border-radius: 3px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	background: none;
	color: #2762c4;
	letter-spacing: 2.7px;
	cursor: pointer;
	width: 207px;
	height: 45px;
}

.main-logo__icon {
	height: 190px;
}

.main-logo__icon {
	margin-bottom: 40px;
}

@keyframes myAnimate {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.animated {
  animation: myAnimate 2s 1s;
}

.main-logo__btn:hover {
	background-color: #2762c4;
	color: #fff;
}

.bodzio {
	background: url('../img/first_page/main_icon-page.png')no-repeat;
	background-position: 95%;
}

.bodzio:hover {
	background: url('../img/first_page/main_icon_white.png')no-repeat;
	background-position: 95%;
	background-color: #2762c4;
}

